<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Reservation</title>
    <link rel="stylesheet" href="/css/reservation-form.css"> <!-- Include your CSS file here -->
</head>
<body>

<section class="reservation" id="contact-us">
    <div class="container" >

        <div class="form reservation-form bg-black-10">

            <form th:action="@{${reservation.id} ? '/reservations/' + ${reservation.id} : '/reservations'}" method="post" class="form-left">

                <h2 class="headline-1 text-center">Online Reservation</h2>

                <p class="form-text text-center">
                    Booking request <a href="https://www.poptox.com/India" target="_blank" class="link">+91 8881883287</a>
                    or fill out the order form
                </p>

                <div class="input-wrapper">
                    <input type="text" name="name" placeholder="Your Name" autocomplete="off" class="input-field" th:value="${reservation.name}" required>

                    <input type="tel" name="phone" placeholder="Phone Number" autocomplete="off" class="input-field" th:value="${reservation.phone}" required>
                </div>

                <div class="input-wrapper">

                    <div class="icon-wrapper">
                        <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                        <select name="numberOfPersons" class="input-field" required>
                            <option value="" disabled selected>Select Number of Persons</option>
                            <option value="1">1 Person</option>
                            <option value="2">2 Persons</option>
                            <option value="3">3 Persons</option>
                            <option value="4">4 Persons</option>
                            <option value="5">5 Persons</option>
                            <option value="6">6 Persons</option>
                            <option value="7">7 Persons</option>
                        </select>

                        <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                    </div>

                    <div class="icon-wrapper">
                        <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                        <input type="date" name="reservationDate" class="input-field" th:value="${reservation.reservationDate}" required>

                        <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                    </div>

                    <div class="icon-wrapper">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                        <select name="time" class="input-field" required>
                            <option value="" disabled selected>Select Time</option>
                            <option value="08:00am">08:00 am</option>
                            <option value="09:00am">09:00 am</option>
                            <option value="10:00am">10:00 am</option>
                            <option value="11:00am">11:00 am</option>
                            <option value="12:00pm">12:00 pm</option>
                            <option value="01:00pm">01:00 pm</option>
                            <option value="02:00pm">02:00 pm</option>
                            <option value="03:00pm">03:00 pm</option>
                            <option value="04:00pm">04:00 pm</option>
                            <option value="05:00pm">05:00 pm</option>
                            <option value="06:00pm">06:00 pm</option>
                            <option value="07:00pm">07:00 pm</option>
                            <option value="08:00pm">08:00 pm</option>
                            <option value="09:00pm">09:00 pm</option>
                            <option value="10:00pm">10:00 pm</option>
                        </select>

                        <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                    </div>

                </div>

                <textarea name="message" placeholder="Message" autocomplete="off" class="input-field" th:text="${reservation.message}"></textarea>


                    <button type="submit" class="btn btn-secondary" id="or">Book A Table</button>

            </form>

            <div class="form-right text-center" style="background-image: url('/images/form-pattern.png')">

                <h2 class="headline-1 text-center">Contact Us</h2>

                <p class="contact-label">Booking Request</p>

                <a href="https://www.poptox.com/India" target="_blank" class="body-1 contact-number hover-underline">+91 8881883287</a>

                <div class="separator"></div>

                <p class="contact-label">Location</p>

                <address class="body-4">
                    <a href="https://www.google.com/maps/search/Delhi+madan+Grill+new+delhi/@21.7563073,77.0071368,7.35z" target="_blank">
                        Restaurant Madan Sweets, Delicious City,<br>
                        Budh Vihar, New Delhi
                    </a>
                </address>

                <p class="contact-label">Lunch Time</p>
                <p class="body-4">Monday to Sunday <br> 11.00 am - 2.30 pm</p>

                <p class="contact-label">Dinner Time</p>
                <p class="body-4">Monday to Sunday <br> 05.00 pm - 10.00 pm</p>

            </div>

        </div>

    </div>
</section>

<script src="/js/reservatvion-form.js"></script>
</body>
</html>
